/**
* Small css file to structure the layout of the admin interface in the NASA Daily Image plugin
* Plugin URI: https://github.com/DaWoody/nasa-daily-image
* Author: Johan DaWoody Wedfelt
 */
.nasa-daily-image-reset-stored-data {
  margin-top:0.6em;
}

.nasa-daily-image-logo {
  margin:1.4em;
  display:block;
  float:left;
  width:290px;
  height:auto;
}

.nasa-daily-image-gplv3 {
  margin-top:0.3em;
}

.nasa-daily-image-admin-text-container {
  padding-top:0.2em;
  display: block;
  clear:both;
}