/**
* Small css file to structure the layout of the admin interface in the THE APOD plugin
* Plugin URI: https://github.com/DaWoody/the-apod
* Author: Johan DaWoody Wedfelt
* Author URI: https://github.com/DaWoody
 */
.the-apod-reset-stored-data {
  margin-top:0.6em;
}

.the-apod-logo {
  margin:1.4em;
  display:block;
  float:left;
  width:290px;
  height:auto;
}

.the-apod-gpl {
  margin-top:0.3em;
}

.the-apod-admin-text-container {
  padding-top:0.2em;
  display: block;
  clear:both;
}